# Database configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Keycloak configuration
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

# Server configuration
BACKEND_PORT=